.header {
    padding: 25px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
  }
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.sidebar {
    position: fixed;
    left: 0px;
    width: 250px;
    height: 100%;
    background: #74bdcb;
    transition: all 0.5s ease;
}
.sidebar .top {
    font-size: 22px;
    color: #fff;
    text-align: center;
    line-height: 70px;
    background-image: linear-gradient(to right, #fec8a7, #b2d2a4);
}

.sidebar ul a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 16px;
    color: #fff;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(6, 255, 251, 0.1);
    border-bottom: 1px solid rgba(125, 134, 146, 0.302);
    transition: all 0.5s ease;
}
ul li:hover a {
    padding-left: 100px;
    background: #efe7bc;
    color: rgb(0, 0, 0);
}

.sidebar ul a i {
    margin-right: 16px;
}
body {
    font-family: 'Nunito', sans-serif;
    color: #384047;
    }
    
    form {
    max-width: 300px;
    margin: 10px auto;
    padding: 10px 20px;
    background: #f4f7f8;
    border-radius: 8px;
    }
    
    h1 {
    margin: 0 0 30px 0;
    text-align: center;
    }
    
    input[type="text"],
    select {
    background: rgba(255,255,255,0.1);
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #e8eeef;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
    }
    
    input[type="radio"],
    input[type="checkbox"] {
    margin: 0 4px 8px 0;
    }
    
    select {
    padding: 6px;
    height: 32px;
    border-radius: 2px;
    }
    
    .tombol {
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background-color: #4bc970;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #3ac162;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin-bottom: 10px;
    }
    
    fieldset {
    margin-bottom: 30px;
    border: none;
    }
    
    legend {
    font-size: 1.4em;
    margin-bottom: 10px;
    }
    
    label {
    display: block;
    margin-bottom: 8px;
    }
    
    label.light {
    font-weight: 300;
    display: inline;
    }
    
    .number {
    background-color: #5fcf80;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 100%;
    }
    
    @media screen and (min-width: 480px) {
    
    form {
    max-width: 480px;
    }
    
    }
    table 			      { 
        border-spacing: 1; 
        border-collapse: collapse; 
        background:white;
        border-radius:6px;
        overflow:hidden;
        max-width:800px; 
        width:100%;
        margin:0 auto;
        position:relative;
        
        *               { position:relative }
        
        td,th           { padding-left:8px}
      
        thead tr        { 
          height:60px;
          background:#FFED86;
          font-size:16px;
        }
        
        tbody tr        { height:48px; border-bottom:1px solid #E3F1D5 ;
          &:last-child  { border:0; }
        }
        
           td,th 					{ text-align:left;
              &.l 					{ text-align:right }
              &.c 					{ text-align:center }
              &.r 					{ text-align:center }
          }
      }
      
      